Lab/Lab5/Lab5JAZX-WSClient/xml-resources/web-service-references/BumpServer/wsdl/localhost_8080/Lab5JAX-WS/BumpServer.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://mingjiey.edu.cmu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://mingjiey.edu.cmu/">

<xs:element name="bump" type="tns:bump"/>

<xs:element name="bumpResponse" type="tns:bumpResponse"/>

<xs:element name="get" type="tns:get"/>

<xs:element name="getResponse" type="tns:getResponse"/>

<xs:complexType name="get">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getResponse">
<xs:sequence>
<xs:element name="return" type="xs:integer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bump">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="bumpResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>