Project3/WebServiceDesignStyles1ProjectClient/xml-resources/web-service-references/CoolSpy/wsdl/localhost_8080/WebServiceDesignStyles1ProjectServer/CoolSpy.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://mingjiey.edu.cmu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://mingjiey.edu.cmu/" name="CoolSpy">
<types>
<xsd:schema>
<xsd:import namespace="http://mingjiey.edu.cmu/" schemaLocation="http://localhost:8080/WebServiceDesignStyles1ProjectServer/CoolSpy?xsd=1"/>
</xsd:schema>
</types>
<message name="getList">
<part name="parameters" element="tns:getList"/>
</message>
<message name="getListResponse">
<part name="parameters" element="tns:getListResponse"/>
</message>
<message name="getSpy">
<part name="parameters" element="tns:getSpy"/>
</message>
<message name="getSpyResponse">
<part name="parameters" element="tns:getSpyResponse"/>
</message>
<message name="updateSpy">
<part name="parameters" element="tns:updateSpy"/>
</message>
<message name="updateSpyResponse">
<part name="parameters" element="tns:updateSpyResponse"/>
</message>
<message name="getListAsXML">
<part name="parameters" element="tns:getListAsXML"/>
</message>
<message name="getListAsXMLResponse">
<part name="parameters" element="tns:getListAsXMLResponse"/>
</message>
<message name="addSpy">
<part name="parameters" element="tns:addSpy"/>
</message>
<message name="addSpyResponse">
<part name="parameters" element="tns:addSpyResponse"/>
</message>
<message name="deleteSpy">
<part name="parameters" element="tns:deleteSpy"/>
</message>
<message name="deleteSpyResponse">
<part name="parameters" element="tns:deleteSpyResponse"/>
</message>
<portType name="CoolSpy">
<operation name="getList">
<input wsam:Action="http://mingjiey.edu.cmu/CoolSpy/getListRequest" message="tns:getList"/>
<output wsam:Action="http://mingjiey.edu.cmu/CoolSpy/getListResponse" message="tns:getListResponse"/>
</operation>
<operation name="getSpy">
<input wsam:Action="http://mingjiey.edu.cmu/CoolSpy/getSpyRequest" message="tns:getSpy"/>
<output wsam:Action="http://mingjiey.edu.cmu/CoolSpy/getSpyResponse" message="tns:getSpyResponse"/>
</operation>
<operation name="updateSpy">
<input wsam:Action="http://mingjiey.edu.cmu/CoolSpy/updateSpyRequest" message="tns:updateSpy"/>
<output wsam:Action="http://mingjiey.edu.cmu/CoolSpy/updateSpyResponse" message="tns:updateSpyResponse"/>
</operation>
<operation name="getListAsXML">
<input wsam:Action="http://mingjiey.edu.cmu/CoolSpy/getListAsXMLRequest" message="tns:getListAsXML"/>
<output wsam:Action="http://mingjiey.edu.cmu/CoolSpy/getListAsXMLResponse" message="tns:getListAsXMLResponse"/>
</operation>
<operation name="addSpy">
<input wsam:Action="http://mingjiey.edu.cmu/CoolSpy/addSpyRequest" message="tns:addSpy"/>
<output wsam:Action="http://mingjiey.edu.cmu/CoolSpy/addSpyResponse" message="tns:addSpyResponse"/>
</operation>
<operation name="deleteSpy">
<input wsam:Action="http://mingjiey.edu.cmu/CoolSpy/deleteSpyRequest" message="tns:deleteSpy"/>
<output wsam:Action="http://mingjiey.edu.cmu/CoolSpy/deleteSpyResponse" message="tns:deleteSpyResponse"/>
</operation>
</portType>
<binding name="CoolSpyPortBinding" type="tns:CoolSpy">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSpy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateSpy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListAsXML">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addSpy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteSpy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CoolSpy">
<port name="CoolSpyPort" binding="tns:CoolSpyPortBinding">
<soap:address location="http://localhost:8080/WebServiceDesignStyles1ProjectServer/CoolSpy"/>
</port>
</service>
</definitions>