Lab/CoolClient/xml-resources/web-service-references/CoolService/wsdl/localhost_8080/CoolService/CoolService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://mingjiey.andrew.cmu.edu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://mingjiey.andrew.cmu.edu/">

<xs:element name="foo" type="tns:foo"/>

<xs:element name="fooResponse" type="tns:fooResponse"/>

<xs:element name="purchase" type="tns:purchase"/>

<xs:element name="purchaseResponse" type="tns:purchaseResponse"/>

<xs:complexType name="foo">
<xs:sequence>
<xs:element name="x" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fooResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="purchase">
<xs:sequence>
<xs:element name="pid" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="qty" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="purchaseResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>